
SOGIP_v2/.vs/SOGIP_v2/v15/.suo
SOGIP_v2/SOGIP_v2/obj/Debug/SOGIP_v2.pdb
SOGIP_v2/SOGIP_v2/obj/Debug/SOGIP_v2.Migrations.GeneroUsuario.resources
SOGIP_v2/SOGIP_v2/obj/Debug/SOGIP_v2.dll
SOGIP_v2/SOGIP_v2/obj/Debug/SOGIP_v2.csprojAssemblyReference.cache
SOGIP_v2/SOGIP_v2/obj/Debug/SOGIP_v2.csproj.GenerateResource.cache
SOGIP_v2/SOGIP_v2/obj/Debug/SOGIP_v2.csproj.FileListAbsolute.txt
SOGIP_v2/SOGIP_v2/bin/SOGIP_v2.pdb
SOGIP_v2/SOGIP_v2/bin/SOGIP_v2.dll
SOGIP_v2/.vs/SOGIP_v2/v15/Server/sqlite3/storage.ide-wal
SOGIP_v2/.vs/SOGIP_v2/v15/Server/sqlite3/storage.ide-shm
SOGIP_v2/.vs/SOGIP_v2/v15/.suo
