@model SOGIP_v2.Models.Rutina
@{
    ViewBag.Title = "Lista de Rutinas";

    ViewBag.Control = "Rutinas";
    ViewBag.ControlIcono = "glyphicon-user";

    ViewBag.Metodo = "Index";
    ViewBag.MetodoIcono = "glyphicon-edit";

    ViewBag.Referencia = "Rutinas/Create";
    ViewBag.Accion = "Crear Rutina";

    @Styles.Render("~/Content/Rutina.css")
    @Styles.Render("~/Content/Detalle_Rutina.css")
}

<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/select.dataTables.min.css">

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalNew"  >
    Nuevo
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalNew" id="editar">
    Editar 
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalNew">
    Eliminar
</button>
<br>
<br>
<table id="rutina" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Acción</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Objetivo</th>
        </tr>
    </thead>
</table>


@section Scripts {

    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/dataTables.select.min.js"></script>
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/jquery.timepicker.js")
    <script>
        $(document).ready(function () {


            tabla();
            cargaF();

            $('#funcionario').change(function () {
                cargaF();
            })

            $('#atleta').change(function () {
                cargaA();
            })

            $('#btnSave').click(function () {

            })
            $('#rutina').on('click', 'tbody th:not(:first-child)', function (e) {
                alert("Hola");
            })
           
               
            function SaveRutina(data) {
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: "",
                    data: data,
                    success: function (data) {
                        tabla();
                    },
                    error: function () {
                        alert("Fallo");
                    }
                })
            }


            function cargaF() {
                $.getJSON("/Rutinas/getUsuariosF", null, function (data) {
                    $("#usuariosDropdown").empty() // Remove all <option> child tags.
                    $.each(data, function (index, item) { // Iterates through a collection
                        $("#usuariosDropdown").append(
                            $('<option></option>')
                                .text(item.cedNomCompleto)
                                .val(item.idAtleta)
                        );
                    });
                });
            }

            function cargaA() {
                $.getJSON("/Rutinas/getUsuariosA", null, function (data) {
                    $("#usuariosDropdown").empty() // Remove all <option> child tags.
                    $.each(data, function (index, item) { // Iterates through a collection
                        $("#usuariosDropdown").append(
                            $('<option></option>')
                                .text(item.cedNomCompleto)
                                .val(item.idAtleta)
                        );
                    });
                });
            }

            var today = new Date();
            $(function () {
                $("#dtp").datepicker({
                });
            });

            function tabla() {
                var table;
                var dataSet = [];
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: "/Rutinas/GetRutinas",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            var date = new Date(parseInt(v.RutinaFecha.substr(6)));
                            dataSet.push(["", v.Usuario.Nombre1 + " " + v.Usuario.Apellido1 + " " + v.Usuario.Apellido2, date.toLocaleDateString("en-GB"), v.RutinaObservaciones]);
                        })
                        table = $('#rutina').DataTable({
                            data: dataSet,
                            columns: [
                                {
                                    orderable: false,
                                    defaultContent: '',
                                    className: 'select-checkbox',
                                },
                             
                                { title: "Usuario" },
                                { title: "Fecha" },
                                { title: "Objetivo" }
                            ],
                            select: {
                                style: 'os',
                                selector: 'td:first-child'
                            }
                        });
                    },

                    error: function (error) {
                        alert("Fallo");
                    }
                });
            }

        });
    </script>

}