@using Microsoft.AspNet.Identity
@using App.Extensions
@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/manual.css")
<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/responsive.bootstrap4.min.css" rel="stylesheet" />

<div class="container">
    <div class="well">
        <input type="hidden" id="ced" value="@User.Identity.GetUserId()" />
        <h3>Usuarios Asignados</h3>
        <br />
        <input type="hidden" id="role" value="@ViewBag.Role" />
        <div class="table-responsive">
            <table id="example" class="table table-striped table-bordered dt-responsive nowrap">
                <thead>

                </thead>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/Scripts/atletas_asignados.js")*@
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/dataTables.select.min.js"></script>

    <script>
        $(document).ready(function () {
            var url = "";
            var ced = $('#ced').val();
            var col = [
                { data: "Cedula" },
                { data: "Nombre" },
                { data: "Apellido1" },
                { data: "Apellido2" },
            ];

            var head = '<tr><td>Cédula</td><td>Nombre</td><td>1° Apellido</td><td>2° Apellido</td><td>Acción</td></tr>';

        var table;
        var dataSet = [];

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: "/AtletasAsignados/getAtletas",
            success: function (data) {
                $.each(data, function (i, v) {
                    dataSet.push(["", v.Cedula, v.Nombre1, v.Apellido1, v.Apellido2]);
                })
                table = $('#example').DataTable({

                    // "aLengthMenu": [[25, 50, 75, -1], [25, 50, 75, "All"]],
                    // "iDisplayLength": 5,
                    "language": {
                        "lengthMenu": "Mostrando _MENU_ resultados por página.",
                        "zeroRecords": "No se han encontrado resultados.",
                        "info": "Mostrando página _PAGE_ de _PAGES_.",
                        "infoEmpty": "No hay datos para mostrar",
                        "infoFiltered": "(filtrado de _MAX_ datos obtenidos).",
                        "search": "Buscar:",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    },
                    data: dataSet,
                    columns: [
                        { title: "Acción" },
                        { title: "Cédula" },
                        { title: "Nombre" },
                        { title: "1° Apellido" },
                        { title: "2° Apellido" }
                    ],
                    'columnDefs': [
                        {
                            orderable: false,
                            className: 'select-checkbox',
                            targets: [0]
                        }
                    ],
                    'select': {
                        'style': 'os',
                        'selector': 'td:first-child'
                    }
                },
                "ajax": {
                    "url": url,
                    "type": "GET",
                    "dataSrc": "",
                    "data": { usuarioId: ced }
                },
                columns: col
            });
        });

    </script>
}