@{
    ViewBag.Title = "Completado";
}

<!DOCTYPE html>


    <div class="container">
        <div class="exp_fis" id="reg_ex">
            <h3>
                ¡El archivo InBody se ha importado correctamente!
            </h3>
            @using (Html.BeginForm("Index", "ExpedientesFisicos", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div>
                <input type="submit" value="Regresar" />
            </div>
            }
        </div>
    </div>