
@{
    ViewBag.Title = "Avanzadas";
    ViewBag.Accion = "<a class='btn btn-success pull-right' style='padding: 2px 6px; margin: 2px;' data-toggle='modal' onclick='CargarModal();'><text class='hidden-xs'>Crear nuevo </text><span style='color: white;' class='glyphicon glyphicon-sign-add'></span></a>";
}

<h2>Avanzadas</h2>

