
@{

    ViewBag.Title = "Búsqueda";

    ViewBag.Referencia_Controlador_1 = "Busqueda";
    ViewBag.Icono_Controlador_1 = "glyphicon-search";
    ViewBag.Nombre_Controlador_1 = "Búsqueda";

}

@Styles.Render("~/Content/Perfil.css")

<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/select.bootstrap4.min.css" rel="stylesheet" />


<div class="container-fluid" style="min-height: 369px;">
    <div class="well" style="min-height: 400px;">
        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                <h1>¿Qué desea buscar?</h1>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <select id="Tipo" class="form-control" style="text-align: center">
                    <option value="0">-- Seleccione --</option>
                    <option value="1">Usuarios</option>
                    <option value="2">Archivos</option>
                    <option value="3">Ejercicios</option>
                    <option value="4">Máquinas</option>
                    <option value="5">Actividades</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <select id="Filtro" class="form-control" style="text-align: center">
                    <option value="0">-- Seleccione --</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <button id="Buscar" class="btn btn-block btn-success" type="submit">
                    Buscar
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>

        <br />

        <div class="row">
            <div id="Resultados" class="table-responsive">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.select.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Busquedas.js")
}