@model IEnumerable<SOGIP_v2.Models.ApplicationUser>

@{
    ViewBag.Title = "Búsqueda";

    List<SelectListItem> Tipo = new List<SelectListItem>();

    Tipo.Add(new SelectListItem { Text = "Cédula", Value = "0" });
    Tipo.Add(new SelectListItem { Text = "Nombre", Value = "1" });
    Tipo.Add(new SelectListItem { Text = "Apellido", Value = "2" });
    @*Tipo.Add(new SelectListItem { Text = "Sexo", Value = "3" });
        Tipo.Add(new SelectListItem { Text = "Asociación/Comité", Value = "4" });
        Tipo.Add(new SelectListItem { Text = "Selección/Federación", Value = "5" });
        Tipo.Add(new SelectListItem { Text = "Atleta", Value = "6" });
        Tipo.Add(new SelectListItem { Text = "Atleta Alto Rendimiento", Value = "7" });*@
}

@Styles.Render("~/Content/Perfil.css")


<div class="container" style="min-height: 369px;">
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <input class="form-control" type="search" placeholder="Buscar por" id="Search">
            </div>
            <div class="col-md-3">
                @Html.DropDownList("Tipo", Tipo, new { @class = "form-control", id = "SearchBy" })
            </div>
            <div class="col-md-3">
                <button id="SearchBtn" class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </div>
        <div class="row">
            <div class="well span8 offset 2" id="perfiles">
            </div>
        </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Busquedas.js")
}