@model SOGIP_v2.Models.Estado


@{
    ViewBag.Title = "Detalles";
}

<div class="col-md-10">
    <a href="~/Home/Index"><input type="button" id="btn_regresar" class="btn btn-success" value="&laquo; Regresar"></a>
</div>
<br />
<br />

<h2>Detalles</h2>

<div>
    <h4>Estado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EstadoId }) |
    @Html.ActionLink("Regresar", "Index")
</p>
