@{
    <div class="header">
        <style>
            #logo_SOGIP {
                vertical-align: middle;
                float: left;
            }
            .jumbotron {
                padding-bottom: 20px;
            }
        </style>
        <div class="jumbotron">
            <a href="~/Home/Index" class="logo">
                <img id="logo_SOGIP" src="~/Content/Imagenes/logo_SOGIP_sin_letras.png">
            </a>
            <center>
                <h1 class="auto-style1">
                    SISTEMA OPERATIVO GIMNASIO DE PESAS
                </h1>
            </center>
        </div>
    </div>
}