@model SOGIP_v2.Models.TipoME
@{
    ViewBag.Title = "EjerciciosMaquina";
    ViewBag.Referencia_Controlador_1 = "TipoME";
    ViewBag.Icono_Controlador_1 = "glyphicon-list";
    ViewBag.Nombre_Controlador_1 = "TipoME";

    var viewDataMaquina = ViewData["maquina"];
    var viewDataNombre = ViewData["nombre"];
}
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/select.dataTables.min.css">

<div class="container">
    <a class='btn btn-success pull-right' style='padding: 2px 6px; margin: 2px;' id="btnNuevo">
        <text class='hidden-xs'>Nuevo Ejercicio </text>
        <span style='color: white;' class='glyphicon glyphicon-plus-sign'></span>
    </a>
</div>
<div class="well">
    <h4>Máquina</h4>
    <h4> @viewDataNombre </h4>
    <div class="table-responsive">
        <div id="tablaPrincipal"></div>
    </div>
    <div id="nueva" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="cerrar">&times;</button>
                    <h4 class="modal-title">Agregar Ejercicio</h4>
                    <br>
                    <div class="modal-body">
                        <div>
                            <label id="newejer"><input type="radio" name="btnRadio" checked /> Crear Nuevo Ejercicio </label>
                            <label id="repejer"><input type="radio" name="btnRadio" />Asignar un Ejercicio  </label>
                        </div>
                        <form id="forcat" method="post" novalidate="novalidate">
                            <label id="labelEjer">Nombre Nuevo Ejercicios: </label>
                            <div class="afect">
                                <input type="text" class="form-control" placeholder="Nombre" id="cat" name="cat" />
                            </div>
                            <div class="row" id="infouser">
                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                    <div class="afect">
                                        <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Seleccione Ejercicio." readonly />
                                    </div>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-6 col-sm-6">
                                        <button id="botón" type="button" class="btn btn-warning btn-block">
                                            <text id="texto">Ejercicio</text>
                                            <span id="icono" class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </div>
                                </div>
                            <hr />
                            <div class="table-responsive" id="Tabla_Prin" hidden>
                                <table id="tablePrin" class="display" style="width:100%"></table>
                            </div>
                                <div class="modal-footer">
                                    <button type="submit" id="btnSave" class="btn btn-success">Guardar Cambios</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                </div>
                        </form>           
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/dataTables.select.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function eliminar() {
            var des = $('#tablePrin').DataTable();
            des.remove();
            des.destroy();
        }
        var cat1 = null
        var cat2 = null;
        var cat3 = null;
        var idEjer = null;
        function tablaPrin() {
            var d = @viewDataMaquina;
            data ={
                id: d
            }
            $('#maquinas').DataTable().destroy();
            $('#maquinas').remove();
            $('#tablaPrincipal').show();
            var tabla = $('<table/>', { id: 'maquinas', class: 'table table-striped table-bordered dt-responsive nowrap', width: '100%' }).append('<thead><tr><th>Nombre</th><th>Acción</th></tr></thead>');
            $('#tablaPrincipal').append(tabla);
            table5 = $('#maquinas').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ resultados por página.",
                    "zeroRecords": "No se han encontrado registros.",
                    "info": "Mostrando página _PAGE_ de _PAGES_.",
                    "infoEmpty": "No hay datos para mostrar",
                    "infoFiltered": "(filtrado de _MAX_ datos obtenidos).",
                    "search": "Filtrar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "ajax": {
                    "url": '/TipoME/getEjercicios',
                    "type": "GET",
                    "data": data,
                    "dataSrc": ""
                },
                columns: [
                        { data: "Nombre" },
                        {
                            data: "Id",
                        render: function (Id) {
                            return "<a class='btn btn-danger' style='padding: 2px 6px; margin: 2px;'  id='boton_" + Id + "' onclick='Eliminar(" + Id + ")' data-toggle='modal' data-target='#editar'>" +
                                "<text class='hidden-xs'>Eliminar Maquina </text>" +
                                "<span class='glyphicon glyphicon-pencil'></span>" +
                                "</a>";
                            }
                        }
                    ],
            });
        }
        function tablaEjercicios() {
            $('#tablePrin').dataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ resultados por página.",
                    "zeroRecords": "No se han encontrado registros.",
                    "info": "Mostrando página _PAGE_ de _PAGES_.",
                    "infoEmpty": "No hay datos para mostrar",
                    "infoFiltered": "(filtrado de _MAX_ datos obtenidos).",
                    "search": "Filtrar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "ajax": {
                    "url": "/TipoME/GetEjerMaquina",
                    "type": "GET",
                    "dataSrc": ""
                },
                columns: [
                    { data: "Accion" },
                    { data: "Nombre" },
                    {
                        data: "Id",
                        visible: false
                    }
                ],
                'columnDefs': [
                    {
                        orderable: false,
                        className: 'select-checkbox',
                        targets: [0]
                    }
                ],
                'select': {
                    'style': 'os',
                    'selector': 'td:first-child'

                }
            });
        }
        function Eliminar(id) {
             var n = @viewDataMaquina;
            var data = null;
            data = {
                nom: n,
                ejer: id
            }
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/TipoME/DeleteMaquinaEjercicio',
                data: data,
                success: function (data) {
                    $('#nueva').modal('hide');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#maquinas').DataTable().ajax.reload(null, false);
                    //eliminar();
                },
                error: function () {
                    alert("Fallo");
                }
            })
        }
        function SaveMaquinaEjercicio(data) {
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/TipoME/SaveMaquinaEjercicio',
                data: data,
                success: function (data) {
                    $('#nueva').modal('hide');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#maquinas').DataTable().ajax.reload(null, false);
                    $('#usuario').val('');
                    //eliminar();
                },
                error: function () {
                    alert("Fallo");
                }
            })
        }
        function SaveMaquinaEjercicio2(data) {
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/TipoME/SaveEjerciciosMaq',
                data: data,
                success: function (data) {
                    $('#nueva').modal('hide');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#maquinas').DataTable().ajax.reload(null, false);
                    $('#cat').val('');
                    //eliminar();
                },
                error: function () {
                    alert("Fallo");
                }
            })
        }
        function enviar() {
             var n = @viewDataMaquina;
            var n1 = null;
            if ($('#labelEjer').is(':visible')) {
                var data = null;
                {
                    data = {
                        nom: n,
                        nombre: $('#cat').val()
                    }
                    SaveMaquinaEjercicio2(data);
                }
            } else {
                if (idEjer != null) {
                    $.ajax({
                        type: "POST",
                        dataType: "JSON",
                        url: '/TipoME/obtenerIdEjer',
                        data: { "n": idEjer },
                        success: function (data) {
                            n1 = data.Id;
                            var data = null;
                            {
                                data = {
                                    nom: n,
                                    ejer: n1
                                }
                                SaveMaquinaEjercicio(data);
                            }
                        },
                        error: function () {
                            alert("Fallo");
                        }
                    })
                }
            }
         }
        $.validator.setDefaults({
            submitHandler: function () {
                enviar();
                alert("Enviando solicitud.");
            }
        });
        $(document).ready(function () {
            tablaPrin();
            $('#btnNuevo').click(function () {
                tablaEjercicios();
                $('#usuario').css("display", "none");
                $('#labelEjer').css("display", "block");
                $('#cat').css("display", "block");
                $('#botón').css("display", "none");
                $('#nueva').modal('show');

                $('#newejer').click(function () {
                    $('#cat').val('');
                    $('#usuario').css("display", "none");
                    $('#labelEjer').css("display", "block");
                    $('#cat').css("display", "block");
                    $('#botón').css("display", "none");
                    //$("#forcat").validate().clearValidation();
                })
                $('#repejer').click(function () {
                    $('#usuario').val('');
                    $('#usuario').css("display", "block");
                    $('#labelEjer').css("display", "none");
                    $('#cat').css("display", "none");
                    $('#botón').css("display", "block");
                    //$("#forcat").validate().clearValidation();
                })
            })
         
            
            $('#cerrar').click(function () {
                //eliminar();
                $('#nueva').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            })
            $('#cerrar1').click(function () {
                //eliminar();
                $('#nueva').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            })

            $('#tablePrin').on('click', 'td.select-checkbox', function () {
                var td = $(this);
                var tr = td.closest('tr');
                $('#usuario').val(tr.find('td:eq(1)').text());
                idEjer = tr.find('td:eq(1)').text();
                $('#Tabla_Prin').hide();
            });

            $('#botón').click(function () {
                $('#Tabla_Prin').show();

            });
            $("#forcat").validate({
                rules: {
                    cat: {

                        required: true,
                        minlength: 4,
                        remote: {
                            url: '/TipoME/EjercicioRepetido',
                            type: 'GET',
                            data: {
                                nombre: function () {
                                    return $('#cat').val();
                                }
                            }
                        }
                    },
                    
                    usuario: {
                        required: true
                    }

                },
                messages: {
                    cat: {
                        required: "El nombre de Categoría es un campo obligatorio.",
                        minlength: "El nombre de Categoría debe de tener mas de 4 caracteres.",
                        remote: "El nombre no debe ser Repetido."
                    },
                    usuario: {
                        required: "Se debe seleccionar un ejercicio.",
                    },
                },
                errorElement: "em",
                errorPlacement: function (error, element) {
                    error.addClass("help-block");
                    element.parents(".afect").addClass("has-feedback");

                    if (element.prop("id") === "nac") {
                        error.insertAfter(element.parent("div"));
                    } else {
                        error.insertAfter(element);
                    }
                    if (!element.next("span")[0]) {
                        $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>").insertAfter(element);
                    }
                },
                success: function (label, element) {
                    if (!$(element).next("span")[0]) {
                        $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($(element));
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).parents(".afect").addClass("has-error").removeClass("has-success");
                    $(element).next("span").addClass("glyphicon-remove").removeClass("glyphicon-ok");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parents(".afect").addClass("has-success").removeClass("has-error");
                    $(element).next("span").addClass("glyphicon-ok").removeClass("glyphicon-remove");
                }
            });


        });
    </script>
}