@model SOGIP_v2.Models.TipoME
@{
    ViewBag.Title = "EjerciciosMaquina";
    ViewBag.Referencia_Controlador_1 = "TipoME";
    ViewBag.Icono_Controlador_1 = "glyphicon-list";
    ViewBag.Nombre_Controlador_1 = "TipoME";

    var viewDataMaquina = ViewData["maquina"];
    var viewDataNombre = ViewData["nombre"];
}
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/select.dataTables.min.css">

<div class="container">
    <a class='btn btn-success pull-right' style='padding: 2px 6px; margin: 2px;' id="btnNuevo">
        <text class='hidden-xs'>Nuevo Ejercicio </text>
        <span style='color: white;' class='glyphicon glyphicon-plus-sign'></span>
    </a>
</div>
<div class="well">
    <h4>Máquina</h4>
    <h4> @viewDataNombre </h4>
    <div class="table-responsive">
        <div id="tablaPrincipal"></div>
    </div>
    <div id="nueva" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="cerrar">&times;</button>
                    <h4 class="modal-title">Agregar Ejercicio</h4>
                </div>
                <form id="forcat" method="post" novalidate="novalidate">
                    <div class="modal-body">
                        <div>
                            <label id="newejer"><input input id="radio_1" type="radio" name="btnRadio" checked /> Crear Nuevo Ejercicio </label>
                            <label id="repejer"><input input id="radio_2" type="radio" name="btnRadio" />Asignar un Ejercicio  </label>
                        </div>
                        <label id="labelEjer">Nombre Nuevo Ejercicios: </label>
                        <div class="afect">
                            <input type="text" class="form-control" placeholder="Nombre" id="cat" name="cat" />
                        </div>
                        <div class="row" id="infouser">
                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                <div class="afect">
                                    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Seleccione Ejercicio." readonly />
                                </div>
                            </div>
                            <div class="form-group col-lg-3 col-md-6 col-sm-6">
                                <button id="botón" type="button" class="btn btn-warning btn-block">
                                    <text id="texto">Ejercicio</text>
                                    <span id="icono" class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive" id="Tabla_Prin" hidden>
                            <table id="tablePrin" class="display" style="width:100%"></table>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="btnSave" class="btn btn-success">Guardar Cambios</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/dataTables.select.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Ejercicios.js")
}