@model SOGIP_v2.Models.TipoME
@{
    ViewBag.Title = "Tipo";
    ViewBag.Referencia_Controlador_1 = "TipoME";
    ViewBag.Icono_Controlador_1 = "glyphicon-list";
    ViewBag.Nombre_Controlador_1 = "TipoME";
}
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/select.dataTables.min.css">
<div class="container">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <a class='btn btn-primary pull-left' style='padding: 2px 6px; margin: 2px;;' id="btnCategorias">
            <text class='hidden-xs'>Categorias </text>
            <span style='color: white;' class=''></span>
        </a>
        <a class='btn  btn-primary pull-left' style='padding: 2px 6px; margin: 2px; display:none;' id="btn2">
            <text class='hidden-xs' id="text2"></text>
            <span style='color: white;' class=''></span>
        </a>
        <a class='btn btn-primary pull-left' style='padding: 2px 6px; margin: 2px; display:none;' id="btn3">
            <text class='hidden-xs' id="text3"></text>
            <span style='color: white;' class=''></span>
        </a>
    </div>
    <div class="col-md-4">
        <a class='btn  btn-success pull-right' style='padding: 2px 6px; margin: 2px;' id="btnNuevo">
            <text class='hidden-xs'>Nuevo </text>
            <span style='color: white;' class='glyphicon glyphicon-plus-sign'></span>
        </a>
    </div>
    <div id="hi">
        <label id="maq1"><input type="radio" name="btnRadio1" checked />Maquina </label>
        <label id="ejer1"><input type="radio" name="btnRadio1" />Ejercico </label>
    </div>
</div>
<br>
<div class="well col-md-12">
    <div class="table-responsive">
        <div id="tabla1"></div>
        <div id="tabla2"></div>
        <div id="tabla3"></div>
    </div>
</div>
<div id="nuevo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-title" id="txtnuevo">  <h4>Crear nuevo Tipo de <text class='hidden-xs' id="textPrin">
                            </text> <text class='hidden-xs' id="textPrin">Maquina</text></h4> </div>
                <div class="modal-title" style='display:none;' id="txteditar">  <h4>Editar </h4> </div>
            </div>
            <form id="forcat" method="post" novalidate="novalidate">
                <div class="modal-body">
                    <div class="form-group col-md-12">
                        <label>Nombre: </label>
                        <div class="afect">
                            <input type="text" class="form-control" placeholder="Nombre" id="cat" name="cat" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSave" class="btn btn-success">Guardar Cambios</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/dataTables.select.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var cat1 = null
        var cat2 = null;
        var cat3 = null;
        var idEdit = null;
        function tablaEjer1() {
            cat1 = 0;
            $('#textPrin').html("Categoria");
            $('#tipoEjer1').DataTable().destroy();
            $('#tipoEjer1').remove();
            $('#tabla1').show();
            var tabla = $('<table/>', { id: 'tipoEjer1', class: 'table table-striped table-bordered dt-responsive nowrap', width: '100%' }).append('<thead><tr><th>Nombre</th><th>Acción</th></tr></thead>');
            $('#tabla1').append(tabla);
            table1 = $('#tipoEjer1').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ resultados por página.",
                    "zeroRecords": "No se han encontrado registros.",
                    "info": "Mostrando página _PAGE_ de _PAGES_.",
                    "infoEmpty": "No hay datos para mostrar",
                    "infoFiltered": "(filtrado de _MAX_ datos obtenidos).",
                    "search": "Filtrar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "ajax": {
                    "url": '/TipoME/getCategorias',
                    "type": "GET",
                    "dataSrc": ""
                },
                columns: [
                    { data: "nombre" },
                    {
                        data: "Id",

                        render: function (Id) {
                            return "<a class='btn btn-warning' style='padding: 2px 6px; margin: 2px;'  id='boton_" + Id + "' onclick='EditarRut(" + Id + ")'data-toggle='modal'  data-target='#editar'>" +
                                "<text class='hidden-xs'>Editar </text>" +
                                "<span class='glyphicon glyphicon-pencil'></span>" +
                                "</a>" +
                                "<a class='btn btn-info' style='padding: 2px 6px; margin: 2px;' id='boton_" + Id + "' onclick='Enviar(" + Id + ")'>" +
                                "<text class='hidden-xs'> Maquina </text>" +
                                "<span class='glyphicon glyphicon-list'></span>" +
                                "</a>" +
                                "<a class='btn btn-info' style='padding: 2px 6px; margin: 2px;' id='boton_" + Id + "' onclick='Enviar(" + Id + ")'>" +
                                "<text class='hidden-xs'> Ejercicio</text>" +
                                "<span class='glyphicon glyphicon-list'></span>" +
                                "</a>";
                        }
                    }
                ],
            });
        }

        function tablaEjer2(id) {
            $('#tipoEjer2').DataTable().destroy();
            $('#tipoEjer2').remove();
            $('#tabla2').show();
            var tabla = $('<table/>', { id: 'tipoEjer2', class: 'table table-striped table-bordered dt-responsive nowrap', width: '100%' }).append('<thead><tr><th>Nombre</th><th>Acción</th></tr></thead>');
            $('#tabla2').append(tabla);
            table2 = $('#tipoEjer2').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ resultados por página.",
                    "zeroRecords": "No se han encontrado registros.",
                    "info": "Mostrando página _PAGE_ de _PAGES_.",
                    "infoEmpty": "No hay datos para mostrar",
                    "infoFiltered": "(filtrado de _MAX_ datos obtenidos).",
                    "search": "Filtrar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "ajax": {
                    "url": '/TipoME/ObtenerEjer',
                    "data": { 'n': id },
                    "type": "GET",
                    "dataSrc": ""
                },
                columns: [
                    { data: "nombre" },
                    {
                        data: "Id",

                        render: function (Id) {
                            return "<a class='btn btn-warning' style='padding: 2px 6px; margin: 2px;'  id='boton_" + Id + "' onclick='EditarRut(" + Id + ")'data-toggle='modal'  data-target='#editar'>" +
                                "<text class='hidden-xs'>Editar </text>" +
                                "<span class='glyphicon glyphicon-pencil'></span>" +
                                "</a>";
                        }
                    }
                ],
            });

        }
        function tablaEjer3(id) {
            $('#tipoEjer3').DataTable().destroy();
            $('#tipoEjer3').remove();
            $('#tabla3').show();
            var tabla = $('<table/>', { id: 'tipoEjer3', class: 'table table-striped table-bordered dt-responsive nowrap', width: '100%' }).append('<thead><tr><th>Nombre</th><th>Acción</th></tr></thead>');
            $('#tabla3').append(tabla);
            table3 = $('#tipoEjer3').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ resultados por página.",
                    "zeroRecords": "No se han encontrado registros.",
                    "info": "Mostrando página _PAGE_ de _PAGES_.",
                    "infoEmpty": "No hay datos para mostrar",
                    "infoFiltered": "(filtrado de _MAX_ datos obtenidos).",
                    "search": "Filtrar:",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                "ajax": {
                    "url": '/TipoME/ObtenerEjer',
                    "data": { 'n': id },
                    "type": "GET",
                    "dataSrc": ""
                },
                columns: [
                    { data: "nombre" },
                    {
                        data: "Id",

                        render: function (Id) {
                            return "<a class='btn btn-warning' style='padding: 2px 6px; margin: 2px;'  id='boton_" + Id + "' onclick='EditarRut(" + Id + ")' data-toggle='modal' data-target='#editar'>" +
                                "<text class='hidden-xs'>Editar </text>" +
                                "<span class='glyphicon glyphicon-pencil'></span>" +
                                "</a>";
                        }
                    }
                ],
            });

        }
        function eliminar() {
            $('#tabla1').hide();

        }
        function eliminar2() {
            $('#tipoEjer2').DataTable().destroy();
            $('#tipoEjer2').hide();
        }

        function eliminar3() {
            $('#tipoEjer3').DataTable().destroy();
            $('#tipoEjer3').hide();
        }

        function Enviar(id) {
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/TipoME/getNombre',
                data: { 'id': id },
                success: function (data) {
                    $('#text2').html(data.nombre);
                    $('#btn2').css("display", "block");
                    $('#textPrin').html(data.nombre);
                    cat2 = id;
                    cat1 = id;
                },
                error: function () {
                    alert("Fallo");
                }
            })
            eliminar();
            tablaEjer2(id);
        }
        function Enviar2(id) {
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/TipoME/getNombre',
                data: { 'id': id },
                success: function (data) {
                    $('#text3').html(data.nombre);
                    $('#btn3').css("display", "block");
                    $('#textPrin').html(data.nombre);
                    cat3 = id;
                    cat1 = id;
                },
                error: function () {
                    alert("Fallo");
                }
            })
            eliminar();
            eliminar2();
            tablaEjer3(id);
        }
        function EditarRut(id) {
            idEdit = id;
            $('#nuevo').modal('show');
            $('#txtnuevo').css("display", "none");
            $('#txteditar').css("display", "block");
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/TipoME/getNombre',
                data: { 'id': id },
                success: function (data) {
                    $('#cat').val(data.nombre);
                }
            })

        }
        $('#btnCategorias').click(function () {
            $('#tabla2').hide();
            $('#tabla3').hide();
            $('#tipoEjer2').DataTable().destroy();
            $('#tipoEjer2').remove();
            $('#tipoEjer3').DataTable().destroy();
            $('#tipoEjer3').remove();
            $('#tabla1').show();
            $('#btn2').css("display", "none");
            $('#btn3').css("display", "none");
            tablaEjer1();

        })
        $('#btn2').click(function () {
            $('#tabla1').hide();
            $('#tabla3').hide();
            $('#tipoEjer3').DataTable().destroy();
            $('#tipoEjer3').remove();
            $('#tabla2').show();
            $('#btn3').css("display", "none");
            tablaEjer2(cat2);
            cat1 = cat2;
        })
        $('#btn3').click(function () {
            $('#tabla1').hide();
            $('#tabla2').hide();
            $('#tipoEjer2').DataTable().destroy();
            $('#tipoEjer2').remove();
            $('#tabla3').show();
            tablaEjer3(cat3);
            cat1 = cat3;
        })
        function SaveCategoria(data) {
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/TipoME/SaveCategoria',
                data: data,
                success: function (data) {
                    $('#nuevo').modal('hide');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $('#tipoEjer1').DataTable().ajax.reload(null, false);
                    $('#cat').val('');
                },
                error: function () {
                    alert("Fallo");
                }
            })
        }
        function SaveCategoria1(data) {
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/TipoME/SaveCategoria1',
                data: data,
                success: function (data) {
                    $('#nuevo').modal('hide');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    if ($('#btn3').is(':hidden')) {
                        $('#tipoEjer2').DataTable().ajax.reload(null, false);
                    } else {
                        $('#tipoEjer3').DataTable().ajax.reload(null, false);
                    }
                    $('#cat').val('');
                },
                error: function () {
                    alert("Fallo");
                }
            })
        }
        function Editar(data) {
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/TipoME/EditEjercicio',
                data: data,
                success: function (data) {
                    $('#nuevo').modal('hide');
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    if ($('#btn2').is(':hidden')) {
                        $('#tipoEjer1').DataTable().ajax.reload(null, false);
                    } else {
                        if ($('#btn3').is(':hidden')) {
                            $('#tipoEjer2').DataTable().ajax.reload(null, false);
                        } else {
                            $('#tipoEjer3').DataTable().ajax.reload(null, false);
                        }
                    }
                    $('#cat').val('');
                },
                error: function () {
                    alert("Fallo");
                }
            })
        }
        function enviar() {
            if ($('#txteditar').is(':hidden')) {
                if (cat1 == 0) {
                    var data = null;
                    data = {
                        categoria: $('#cat').val()
                    }
                    SaveCategoria(data);
                } else {

                    var data = null;
                    data = {
                        id: cat1,
                        categoria: $('#cat').val()
                    }
                    SaveCategoria1(data);
                }
            } else {
                var data = null;
                data = {
                    id: idEdit,
                    categoria: $('#cat').val()
                }
                Editar(data);
            }
        }

        /*Aqui*/       $.validator.setDefaults({
            submitHandler: function () {
                enviar();
                alert("Enviando solicitud.");
            }
        });

        $(document).ready(function () {
            tablaEjer1();

           /*Nuevo*/        $("#forcat").validate({
                rules: {
                    cat: {

                        required: true,
                        minlength: 4,
                        remote: {
                            url: '/TipoME/TipoRepetido',
                            type: 'GET',
                            data: {
                                nombre: function () {
                                    return $('#cat').val();
                                }
                            }
                        }
                    }
                },
                messages: {
                    cat: {
                        required: "El nombre es un campo obligatorio.",
                        minlength: "El nombre debe de tener mas de 4 caracteres.",
                        remote: "El nombre no debe ser Repetido."
                    }
                },
                errorElement: "em",
                errorPlacement: function (error, element) {
                    error.addClass("help-block");
                    element.parents(".afect").addClass("has-feedback");

                    if (element.prop("id") === "nac") {
                        error.insertAfter(element.parent("div"));
                    } else {
                        error.insertAfter(element);
                    }
                    if (!element.next("span")[0]) {
                        $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>").insertAfter(element);
                    }
                },
                success: function (label, element) {
                    if (!$(element).next("span")[0]) {
                        $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($(element));
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).parents(".afect").addClass("has-error").removeClass("has-success");
                    $(element).next("span").addClass("glyphicon-remove").removeClass("glyphicon-ok");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parents(".afect").addClass("has-success").removeClass("has-error");
                    $(element).next("span").addClass("glyphicon-ok").removeClass("glyphicon-remove");
                }
            });

            $('#btnNuevo').click(function () {
                $('#nuevo').modal('show');
                $('#txtnuevo').css("display", "block");
                $('#txteditar').css("display", "none");
                $('#cat').val('');
            })

        });
    </script>
}