@model SOGIP_v2.Models.TipoME
@{
    ViewBag.Title = "Tipo";
    ViewBag.Referencia_Controlador_1 = "TipoME";
    ViewBag.Icono_Controlador_1 = "glyphicon-list";
    ViewBag.Nombre_Controlador_1 = "TipoME";
}
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/select.dataTables.min.css">
<div class="container">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <a class='btn btn-primary pull-left' style='padding: 2px 6px; margin: 2px;' id="btnCategorias">
            <text class='hidden-xs'>Categorias </text>
            <span style='color: white;' class=''></span>
        </a>
        <a class='btn  btn-primary pull-left' style='padding: 2px 6px; margin: 2px; display:none;' id="btn2">
            <text class='hidden-xs' id="text2"></text>
            <span style='color: white;' class=''></span>
        </a>
        <a class='btn  btn-primary pull-left' style='padding: 2px 6px; margin: 2px; display:none;' id="btn3">
            <text class='hidden-xs' id="text3"></text>
            <span style='color: white;' class=''></span>
        </a>
    </div>
    <div class="col-md-4">
        <a class='btn  btn-success pull-right' style='padding: 2px 6px; margin: 2px;' id="btnNuevo">
            <text class='hidden-xs'>Nuevo </text>
            <span style='color: white;' class='glyphicon glyphicon-plus-sign'></span>
        </a>
    </div>
</div>
<br>
<div class="well col-md-12">
    <div class="table-responsive">
        <div id="tabla1"></div>
        <div id="tabla2"></div>
        <div id="tabla3"></div>
    </div>
</div>
<div id="nuevo" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-title" id="txtmaq" style='display:none;'>
                    <h4>
                        Crear nueva Máquina de Tipo <text class='hidden-xs' id="textPrin">
                        </text> <text class='hidden-xs' id="textPrin"> </text>
                    </h4>
                </div>
                <div class="modal-title" id="txtejer" style='display:none;'>
                    <h4>
                        Crear nuevo Ejercicio de Tipo <text class='hidden-xs' id="textPrin2">
                        </text> <text class='hidden-xs' id="textPrin2"> </text>
                    </h4>
                </div>
                <div class="modal-title" id="txtnuevo" style='display:none;'>  <h4>Crear nuevo Tipo de  Categoría</h4> </div>

                <div class="modal-title" id="editarcat" style='display:none;'>  <h4>Editar Categoría</h4> </div>
                <div class="modal-title" id="editarejer" style='display:none;'>  <h4>Editar Ejercicio</h4> </div>
                <div class="modal-title" id="editarmaq" style='display:none;'>  <h4>Editar Máquina</h4> </div>
            </div>
            <form id="forcat" method="post" novalidate="novalidate">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Nombre: </label>
                            <div class="afect">
                                <input type="text" class="form-control" placeholder="Nombre" id="cat" name="cat" />
                            </div>
                            <div class="afect">
                                <input class="form-control" style='display:none' placeholder="Nombre" id="ejer" name="ejer" />
                            </div>
                            <div class="afect">
                                <input class="form-control" style='display:none' placeholder="Nombre" id="maq" name="maq" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnSave" class="btn btn-success">Guardar Cambios</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/dataTables.select.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/TipoME.js")
}