@model SOGIP_v2.Models.TipoME

@{
    ViewBag.Title = "Tipo";

}
<div class="container">

    <div class="well">
        <div class="table-responsive">
            <a class='btn btn-success pull-right' style='padding: 2px 6px; margin: 2px;' id="btnNuevo">
                <text class='hidden-xs'>Nuevo </text>
                <span style='color: white;' class='glyphicon glyphicon-plus-sign'></span>
            </a>
            <table id="tipoEjer" class="display table table-striped table-bordered table-hover " style="width:100%"> </table>

            <table id="tipoEjer2" class="display table table-striped table-bordered table-hover " style="width:100%"></table>
        </div>
    </div>
    <div id="form" class="modal fade bd-example-modal-lg" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Nuevo</h4>
                    <br>
                    <div class="afect">
                        <label>Nombre: </label>
                        <input type="text" class="form-control" placeholder="Nombre" id="nomb" />
                    </div>
                        <div class="modal-body">
                            <div class="modal-footer">
                                <br />
                                <input type="submit" class="btn btn-success" value="Guardar" onclick="$('#form').submit();">@* data-dismiss="modal" onclick="actualizar()"*@
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/dataTables.select.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom-validator")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")

    <script>
        var table;
        var dataSet = [];
        var table1;
        var dataSet1 = [];
        function tabla() {
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/TipoME/getCategorias',
                success: function (data) {
                    $.each(data, function (i, v) {
                        dataSet.push([v.nombre, v.Id, v.Id]);
                    })
                    table = $('#tipoEjer').DataTable({
                        "language": {
                            "lengthMenu": "Mostrando _MENU_ resultados por página.",
                            "zeroRecords": "No se han encontrado registros.",
                            "info": "Mostrando página _PAGE_ de _PAGES_.",
                            "infoEmpty": "No hay datos para mostrar",
                            "infoFiltered": "(filtrado de _MAX_ datos obtenidos).",
                            "search": "Filtrar:",
                            "paginate": {
                                "first": "Primero",
                                "last": "Ultimo",
                                "next": "Siguiente",
                                "previous": "Anterior"
                            }
                        },
                        data: dataSet,
                        columns: [
                            { title: "Nombre" },
                            {
                                title: "Id",
                                "visible": false,
                                "searchable": false
                            },
                            {
                                title: "Acción",
                                "render": function (Id) {
                                    return "<a class='btn btn-warning' style='padding: 2px 6px; margin: 2px;'  id='boton_" + Id + "' onclick='EditarRut(" + Id + ")'data-toggle='modal'  data-target='#editar'>" +
                                        "<text class='hidden-xs'>Editar </text>" +
                                        "<span class='glyphicon glyphicon-pencil'></span>" +
                                        "</a>" +
                                        "<a class='btn btn-primary' style='padding: 2px 6px; margin: 2px;' id='boton_" + Id + "' onclick='Enviar(" + Id + ")''>" +
                                        "<text class='hidden-xs'>Ver </text>" +
                                        "<span class='glyphicon glyphicon-list'></span>" +
                                        "</a>";
                                }
                            }
                        ],

                        'select': {
                            'style': 'os',
                            'selector': 'td:first-child'
                        }
                    });
                },

                error: function (error) {
                    alert("Fallo");
                }
            });
        }

        function tabla2(id) {
            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: '/TipoME/ObtenerEjer',
                data: { 'n': id },
                success: function (data) {
                    $.each(data, function (i, v) {
                        dataSet1.push([v.nombre, v.Id, v.Id]);
                    })
                    table1 = $('#tipoEjer2').DataTable({
                        "language": {
                            "lengthMenu": "Mostrando _MENU_ resultados por página.",
                            "zeroRecords": "No se han encontrado registros.",
                            "info": "Mostrando página _PAGE_ de _PAGES_.",
                            "infoEmpty": "No hay datos para mostrar",
                            "infoFiltered": "(filtrado de _MAX_ datos obtenidos).",
                            "search": "Filtrar:",
                            "paginate": {
                                "first": "Primero",
                                "last": "Ultimo",
                                "next": "Siguiente",
                                "previous": "Anterior"
                            }
                        },
                        data: dataSet1,
                        columns: [
                            { title: "Nombres" },
                            {
                                title: "Id",
                                "visible": false,
                                "searchable": false
                            },
                            {
                                title: "Acción",
                                "render": function (Id) {
                                    return "<a class='btn btn-warning' style='padding: 2px 6px; margin: 2px;'  id='boton_" + Id + "' onclick='EditarRut(" + Id + ")'data-toggle='modal'  data-target='#editar'>" +
                                        "<text class='hidden-xs'>Editar </text>" +
                                        "<span class='glyphicon glyphicon-pencil'></span>" +
                                        "</a>" +
                                        "<a class='btn btn-primary' style='padding: 2px 6px; margin: 2px;' id='boton_" + Id + "' onclick='EnviarRut(" + Id + ")''>" +
                                        "<text class='hidden-xs'>Rutina </text>" +
                                        "<span class='glyphicon glyphicon-list'></span>" +
                                        "</a>";
                                }
                            }
                        ],

                        'select': {
                            'style': 'os',
                            'selector': 'td:first-child'
                        }
                    });
                },

                error: function (error) {
                    alert("Fallo");
                }
            });
        }

        function eliminar() {

            //$('#tipoEjer').DataTable().clear().draw();
            $('#tipoEjer').DataTable().destroy();
            $('#tipoEjer').hide();

        }

        function Enviar(id) {
            eliminar();
            tabla2(id);

        }

        $(document).ready(function () {
            tabla();
          
            $("#form").validate({
                rules: {
                    nomb: {
                        requeried: true,
                        minlength: 3,
                        remote: {
                            url: "/TipoME/TipoRepetido",
                            type: "GET",
                            data: {
                                ced: function () { return $('#nomb').val(); }
                            }

                        }

                    }
                },
                messages: {
                    requeried: "El nombre es un campo obligatorio.",
                    minlength: "La longitud mínima de la cédula debe ser de 3 carácteres.",
                    remote: "Ese nombre ya se encuentra en el sistema."
                }
                 errorElement: "em",
                errorPlacement: function (error, element) {
                    error.addClass("help-block");
                    element.parents(".afect").addClass("has-feedback");

                    if (element.prop("id") === "nac") {
                        error.insertAfter(element.parent("div"));
                    } else {
                        error.insertAfter(element);
                    }
                    if (!element.next("span")[0]) {
                        $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>").insertAfter(element);
                    }
                },
                success: function (label, element) {
                    if (!$(element).next("span")[0]) {
                        $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>").insertAfter($(element));
                    }
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).parents(".afect").addClass("has-error").removeClass("has-success");
                    $(element).next("span").addClass("glyphicon-remove").removeClass("glyphicon-ok");
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).parents(".afect").addClass("has-success").removeClass("has-error");
                    $(element).next("span").addClass("glyphicon-ok").removeClass("glyphicon-remove");
                }

            });

        });
    </script>

}