﻿@model SOGIP_v2.Models.Maquina
@{
    ViewBag.Title = "Maquina";
}
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/select.dataTables.min.css">
<div class="container">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <a class='btn btn-primary pull-left' style='padding: 2px 6px; margin: 2px;' id="btnEjer">
            <text class='hidden-xs'>Máquinas </text>
            <span style='color: white;' class=''></span>
        </a>

    </div>

</div>
<br>
<div class="well col-md-12">
    <div class="table-responsive">
        <div id="tablaPrincipal"></div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/dataTables.select.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Maquina.js")

}
