@{
    
}
@*
    <style>
        .registro_tabla {
            margin-top: 113px;
            margin-left: auto;
            margin-right: auto;
            background-color: #F2F2F2;
        }

        .auto-style16 {
            margin-top: 5px;
            width: 455px;
            height: 379px;
        }

        span, br {
            border-right-color: black;
            float: left;
            width: 100%;
            color: #333;
            padding: 16px 0;
            font-size: 16px;
            line-height: normal;
            text-decoration: none;
            box-sizing: border-box;
            text-transform: uppercase;
            font-family: Arial;
            -webkit-transition: color 0.3s ease;
            transition: color 0.3s ease;
        }
    </style>


    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Masivo</title>
    </head>
    <body>*@
@model SOGIP_v2.Models.ApplicationUser
<div class="container">
    <div class="masivo" id="registro_tabla" name="registro_tabla">
        @using (Html.BeginForm("Import", "UsersAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Raw(ViewBag.Error)
            <span>Seleccione el archivo Excel a importar: </span><input type="file" name="excelfile" value="Cargar" />
            <br />
            <br>
            <br>
            <input type="submit" value="Importar" />
        }
    </div>
</div>

