@{
    ViewBag.Title = "Contáctenos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Parque Metropolitano La Sabana<br />
    Estadio Nacional<br />
    <abbr title="Teléfono">Tel:</abbr>
    +506 2549-0700
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:admSOGIP@hotmail.com">admSOGIP@hotmail.com</a><br />
</address>