@{
    <div class="header">
        <div class="jumbotron">
            <h1 class="auto-style1">
                <a href="@Url.Action()" class="logo"><img src="~/Content/Imagenes/logo_png_header.png"></a> SISTEMA OPERATIVO GIMNASIO DE PESAS
            </h1>
        </div>
    </div>
 
}

