.principal {
    margin: 10px
}
.form-group {
   display:inline
}
.card-default {
    background-color: bisque;
    background: linear-gradient(#fff,#ebebeb) repeat scroll 0 0 transparent;
}

h4 {
    padding-left: 14px;
    font-weight:bold;
}

.btn-default {
    background-color: rgb(0, 106, 173);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 24px;
}

.btn-warning {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 24px;
}

.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    background-color: #ffeeee !important;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
    background-color: #ffeeee !important;
}

.validation-summary-valid {
    display: none;
} 

.form-control{
    text-align: center;
}

/******************** MENÚ ********************/

nav {
    width: 100%;
    display: inline-grid;
    text-align: center;
}

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-block;
        background: #ebebeb;
        border-radius: 5px;
    }

        nav ul li a {
            color: rgba(0,0,0,0.7);
            text-decoration: none;
        }

        nav ul li {
            float: left;
            width: 162.7px;
            height: 65px;
            line-height: 65px;
            position: relative;
            text-transform: uppercase;
            font-size: 14px;
            color: rgba(0,0,0,0.7);
            cursor: pointer;
        }

            nav ul li:hover {
                background: #d5d5d5;
                border-radius: 5px;
            }

ul.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    padding: 0;
}

    ul.dropdown-menu li {
        background: rgba(255,255,255,0.7);
        color: rgba(255,255,255,0.7);
    }

        ul.dropdown-menu li:hover {
            background: #fff;
        }

        ul.dropdown-menu li:last-child {
            border-radius: 0px 0px 5px 5px;
        }

    ul.dropdown-menu li {
        display: none;
    }

ul li:hover > ul.dropdown-menu li {
    display: block;
}


//menu 1 -----------

li:hover > ul.dropdown-menu.menu-1 li {
    perspective: 1000px;
    opacity: 0;
    animation: name:menu1,duration:300ms,timing-function:ease-in-out,fill-mode:forward;
}

@keyframes menu1 {
    0% {
        opacity: 0;
        transform: rotateY(-90deg) translateY(30px);
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg) translateY(30px);
    }
}
