
#nueva1 {
    font-weight: bold;
    display: inline-block;
    margin: 0;
}
#nueva2 {
    font-weight: bold;
    display: inline-block;
    margin: 0;
}

#ayuda1 {
    margin-left: 5px;

}#ayuda2 {
    margin-left: 5px;
}