body {
    /*
    background-image: url(Imagenes/fondo_e.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    */
    width: auto;
    height: auto;
    background-image: url(Imagenes/fondo_e.png);
    background-size: 100% 250%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

    input[type=date] {
        text-align: center;
    }

#logo_SOGIP {
    vertical-align: middle;
    float: left;
}

.jumbotron {
    padding-bottom: 20px;
}