@Styles.Render("~/Content/bootstrap-multiselect.css")
<link rel="stylesheet" href="~/Content/fontawesome-all.min.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/css/select.dataTables.min.css">


<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Personalizar gráfico</h3>
    </div>

    <div class="panel-body">
        <div class="row">

            <div class="col-sm-2">
                <div class="form-group">
                    <select class="form-control" id="Graficos">
                        <option value="0">-SIN SELECCIONAR-</option>
                        <option value="1">BARRA</option>
                        <option value="2">LÍNEAL</option>
                        <option value="3">PASTEL</option>
                    </select>
                </div>
            </div>

            <div hidden class="col-sm-2" id="tipo">
                <div class="form-group">
                    <select class="form-control" id="LinealTipo">
                        <option value="0">-SIN SELECCIONAR-</option>
                        <option value="1">MIXTO</option>
                        <option value="2">AGRUPACIONES</option>
                    </select>
                </div>
            </div>

            <div hidden class="col-sm-2" id="multigrupo">
                <div class="form-group">
                    <select class="form-control" id="Grupo">
                        <option value="0">-SIN SELECCIONAR-</option>
                        <option value="1">SELECCIONES</option>
                        <option value="2">ASOCIACIONES</option>
                        <option value="3">ENTIDADES GUBERNAMENTALES</option>
                        <option value="4">FUNCIONARIOS ICODER</option>
                        <option value="5">USUARIO ESPECÍFICO</option>
                    </select>
                </div>
            </div>

            <div hidden class="col-sm-2" id="s1">
                <div class="form-group">
                    <select class="form-control" multiple="multiple" id="Selecciones"></select>
                </div>
            </div>

            <div hidden class="col-sm-2" id="a2">
                <div class="form-group">
                    <select class="form-control" multiple="multiple" id="Asociaciones"></select>
                </div>
            </div>

            <div hidden class="col-sm-2" id="e3">
                <div class="form-group">
                    <select class="form-control" multiple="multiple" id="Entidades"></select>
                </div>
            </div>

            <div hidden class="col-sm-6" id="uss">

                <div class="form-group col-sm-7">
                    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Seleccione un usuario de la tabla." readonly />
                </div>
                <div class="form-group col-sm-2">
                    <button id="botón" type="button" class="btn btn-warning btn-block">
                        <span id="icono" class="glyphicon glyphicon-search"></span>
                    </button>
                </div>

            </div>

            <div hidden class="col-sm-2" id="month">
                <div class="form-group">
                    <select class="form-control" multiple="multiple" id="Meses">
                        <option value="1">ENERO</option>
                        <option value="2">FEBRERO</option>
                        <option value="3">MARZO</option>
                        <option value="4">ABRIL</option>
                        <option value="5">MAYO</option>
                        <option value="6">JUNIO</option>
                        <option value="7">JULIO</option>
                        <option value="8">AGOSTO</option>
                        <option value="9">SEPTIEMBRE</option>
                        <option value="10">OCTUBRE</option>
                        <option value="11">NOVIEMBRE</option>
                        <option value="12">DICIEMBRE</option>
                    </select>
                </div>
            </div>

            <div hidden class="col-sm-2" id="pied">
                <div class="form-group">
                    <select class="form-control"  id="pie">
                        <option value="1">ENERO</option>
                        <option value="2">FEBRERO</option>
                        <option value="3">MARZO</option>
                        <option value="4">ABRIL</option>
                        <option value="5">MAYO</option>
                        <option value="6">JUNIO</option>
                        <option value="7">JULIO</option>
                        <option value="8">AGOSTO</option>
                        <option value="9">SEPTIEMBRE</option>
                        <option value="10">OCTUBRE</option>
                        <option value="11">NOVIEMBRE</option>
                        <option value="12">DICIEMBRE</option>
                    </select>
                </div>
            </div>

            <div hidden class="col-sm-2" id="years">
                <div class="form-group">
                    <select class="form-control" id="ann"></select>
                </div>
            </div>

            <div class="col-sm-2" id="bt" hidden>
                <div class="form-group">
                    <button type="button" id="b" class="btn btn-success btn-block">
                        <text id="texto">Generar Grafico </text>
                        <span id="icono" class="glyphicon glyphicon-stats"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="chart-container" style="position: unset; height:90vh; width:70vw" id="graph">
    <canvas id="chart"></canvas>
</div>

<div id="myModal" class="modal fade bd-example-modal-lg" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lista de usuarios</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="example" style="width: 100%;" class="table-striped">
                        <thead>
                            <tr>
                                <th>Acción</th>
                                <th>Cédula</th>
                                <th>Nombre</th>
                                <th>1° Apellido</th>
                                <th>2° Apellido</th>
                                <th>Rol</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/Scripts/Chart.min.js")
    @Scripts.Render("~/Scripts/bootstrap-multiselect.js")
    @Scripts.Render("~/Scripts/bootbox.min.js")
    @Scripts.Render("~/Scripts/grafico.js")
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/dataTables.select.min.js"></script>
}


