﻿@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/qrcss.css")
<link rel="stylesheet" href="~/Content/fontawesome-all.min.css">

<div class="container">
    <section class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content">
                        <h2>Bienvenido al Gimnasio de Pesas del ICODER</h2>
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Ingrese su QR">
                            <span class="input-group-btn">
                                <button class="btn" type="submit" id="btnSave">Ingresar</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="panel-body" id="ingreso">
        <div class="row">
            <div class="col-md-12">
                <h1>Bienvenido al Gimnasio de Pesas de ICODER</h1>
                <input type="text" class="form-control" id="usuario" name="usuario" readonly />
                <input type="text" class="form-control" id="fecha" name="fecha" readonly />
                <input type="submit" id="btnNuevo" tabindex="4" class="form-control btn btn-login" value="Ingresar Nuevo">
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/bootbox.min.js")
    @Scripts.Render("~/Scripts/qrjs.js")

}

